
html {
  position: relative;
  height: 100%;
}

body {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  height: 100%;
}

#player-section {
  top: 0;
  width: 20%;
  right: 0;
  top: 75px;
  position: fixed;
  font-size: 18px;

#player {
  text-align: center;
}

#main-content {
  width: 70%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
  margin: 0 auto;
}